<template x-data x-teleport="body">
	<div
		x-data="modal"
		x-show="isOpen"
		@csr.window="
            showMe
            setCsr($event.detail)
        "
		@close-csr.window="hideMe"
		@click="$dispatch('close-csr')"
		class="fixed w-full top-0 h-full z-[2] bg-[#00000080]"
	>
		<template x-teleport="body">
			<div
				x-show="isOpen"
				x-transition
				class="rounded-lg fixed z-[3] w-full md:w-[95%] lg:w-[581px] top-0 md:top-[32px] bg-white h-full md:h-max left-0 right-0 m-auto p-8 overflow-hidden"
			>
				<div
					class="flex items-center justify-end text-customBlack text-[2rem] md:text-[3rem] font-bold"
				>
					<span
						@click="$dispatch('close-csr')"
						class="flex items-center justify-center w-[35px] h-[35px] rounded-full cursor-pointer transition-all duration-200 hover:bg-[#eaeaea]"
					>
						<svg
							width="17"
							height="17"
							viewBox="0 0 30 30"
							fill="none"
							xmlns="http://www.w3.org/2000/svg"
						>
							<path
								d="M2 28L28 2M2 2L28 28"
								stroke="black"
								stroke-width="2.6"
								stroke-linecap="round"
								stroke-linejoin="round"
							/>
						</svg>
					</span>
				</div>
				<div class="mt-8 w-full">
					<span
						x-text="csr.title"
						class="text-[2rem] md:text-[3rem] font-bold"
					></span>
					<p
						x-text="csr.content"
						class="mt-12 text-[1.7rem] text-customBlack"
					></p>
				</div>
			</div>
		</template>
	</div>
</template>
