{% extends 'base.html' %} 
{% load static %} 
{% block mainContent %}
<section class="py-12">
	<p
		class="text-[2.5rem] text-center md:text-[3.2rem] lg:text-[4.5rem] font-bold text-customBlack px-5 md:px-48"
	>
		We help Community Enterprises embrace
		<span class="text-main">financial freedom</span>
	</p>
	<div
		class="mt-14 px-5 md:px-[2rem] lg:px-[3rem] xl:px-[7rem] flex flex-col items-center gap-y-10 lg:flex-row lg:items-start gap-x-14"
	>
		<div class="md:w-[85%] lg:w-1/2">
			<p class="text-[1.7rem] text-customBlack">
				ARAZARA is dedicated to MSMEs, we are an Africa-oriented communities
				enterprising driven company focused on SME-capacity building and
				Technology products.  ARAZARA has been in the business of Training
				(design and delivery), Counseling workshops, Conferences and other
				Knowledge events which are MSME related and has a number of activities
				that focus on Retraining, Sensitizing and Mobilizing of clusters and
				rendering devices that promote and sustain the defined objectives of
				institutions wishing to penetrate the SME sector with Programs,
				Projects, Ideas, Goods and Services.  We help Community Enterprises
				embrace financial freedom through Skill Acquisition, Entrepreneurship
				and Self-reliance by Identifying, Categorizing, Organizing and Profiling
				them into clusters, training them in the business aspect of their skill
				as value providers in their Production/Distribution chain or
				as Consumers of services that support them, providing them with access
				to Market, access to Information and access to Funds by our
				collaborations with Multilateral bodies that assist our activities
				through Advocacy and Capacity Building Initiatives. The only way we know
				how to do it at Arazara. We have Curriculum Development Services for
				Schools, Legislatives, Businesses, Non-profit, Community Enterprises and
				Rural Settlement Groups looking to add Knowledge and Training programmes
				in existing sectors of the economy, helping our clients meet their
				objectives and achieve return on investment. It engages participants to 
				end up noticeably confident and fabricate some level of fearlessness in
				them. In fact, it is a life changing experience.
			</p>
		</div>
		<div class="md:w-[85%] lg:w-1/2">
			<img
				class="w-full object-cover"
				src="{% static 'images/about-img.png' %}"
				alt=""
			/>
			<div
				class="mt-10 flex flex-col md:flex-row lg:flex-col gap-y-14 xl:flex-row items-center justify-between"
			>
				<div class="flex flex-col gap-y-5 items-center">
					<span class="text-[3.5rem] font-bold text-main">45+</span>
					<span class="text-[1.7rem] text-customBlack font-medium"
						>Projects Completed</span
					>
				</div>
				<div class="flex flex-col gap-y-5 items-center">
					<span class="text-[3.5rem] font-bold text-[#0AB906]">92%</span>
					<span class="text-[1.7rem] text-customBlack font-medium"
						>Effective Performance</span
					>
				</div>
				<div class="flex flex-col gap-y-5 items-center">
					<span class="text-[3.5rem] font-bold text-main">90%</span>
					<span class="text-[1.7rem] text-customBlack font-medium"
						>Problem Solving</span
					>
				</div>
			</div>
		</div>
	</div>
</section>
<section
	class="py-16 bg-[#F9F6F6] px-12 lg:px-24 xl:px-[12rem] flex flex-col gap-y-10 lg:flex-row lg:gap-x-10"
>
	<p
		class="md:w-[85%] lg:w-1/2 text-customBlack text-[2.5rem] md:text-[3.5rem] lg:text-[4.5rem] font-bold"
	>
		Our Purpose and Vision
	</p>
	<p class="md:w-[85%] lg:w-1/2 text-customBlack text-[1.7rem]">
		Our brand’s <span class="font-semibold">PURPOSE</span> is fueled by our
		original commitment to Community Enterprises giving them hope, aspirations
		and added value. We are equable to make consistent standard in Institutional
		capacity Building and excellence in Training and Development programmes
		across Africa, in consonance with our VISION, To remain a reputable,
		resourceful, and responsive organization, having support solutions rooted in
		documentaries and research that unlock and enhance the productive and
		evolving energies of individuals/SME entrepreneurs and anchor the efforts of
		governments.
	</p>
</section>
<section
	class="py-16 bg-[#F4FFED] px-12 lg:px-24 xl:px-[12rem] flex flex-col gap-y-10 lg:flex-row lg:gap-x-10"
>
	<p
		class="md:w-[85%] lg:w-1/2 text-customBlack text-[2.5rem] md:text-[3.5rem] lg:text-[4.5rem] font-bold"
	>
		Our Mission Statement
	</p>
	<p class="md:w-[85%] lg:w-1/2 text-customBlack text-[1.7rem]">
		At Arazara, our MISSION is to look at these sectoral clusters wherever they
		may be, realize their full potential, find out their challenges and see how
		we can assist them to function better and make them produce competitively by
		stimulating government to improve on social investments which will reduce
		the burden of poverty while increasing economic growth. Everything we do
		reflects this mission and the three codes of belief that we hold; <br />
		<span class="font-semibold">• Hire the best professionals </span>
		<br />
		<span class="font-semibold"
			>• Keep them armed with the latest tools and technology available</span
		>
		<br />
		<span class="font-semibold">• Invest in training</span>
	</p>
</section>
<section
	class="py-16 bg-customBlack px-8 md:px-16 lg:pr-0 lg:pl-[15rem] xl:pl-[25rem]"
>
	<p class="text-main font-bold text-[2.5rem] md:text-[3rem]">Our Objectives</p>
	<div class="mt-20 flex flex-col gap-y-12">
		<div class="flex gap-x-[1.5rem] md:gap-x-[10rem] lg:gap-x-[13rem]">
			<div class="flex flex-col items-center gap-y-12">
				<span
					class="flex items-center justify-center w-[50px] h-[50px] md:w-[60px] md:h-[60px] rounded-full font-medium text-customBlack bg-white text-[2rem] md:text-[3rem]"
					>1</span
				>
				<hr
					class="rotate-[90deg] w-24 border-[1px] border-white outline-none"
				/>
			</div>
			<p
				class="text-[2rem] md:text-[2rem] lg:text-[2.5rem] font-medium text-white"
			>
				To make the worker productive on his job.
			</p>
		</div>
		<div class="flex gap-x-[1.5rem] md:gap-x-[10rem] lg:gap-x-[13rem]">
			<div class="flex flex-col items-center gap-y-12">
				<span
					class="flex items-center justify-center w-[50px] h-[50px] md:w-[60px] md:h-[60px] rounded-full font-medium text-customBlack bg-white text-[2rem] md:text-[3rem]"
					>2</span
				>
				<hr
					class="rotate-[90deg] w-24 border-[1px] border-white outline-none"
				/>
			</div>
			<p
				class="text-[2rem] md:text-[2rem] lg:text-[2.5rem] font-medium text-white"
			>
				To help entrepreneurs achieve concrete results.
			</p>
		</div>
		<div class="flex gap-x-[1.5rem] md:gap-x-[10rem] lg:gap-x-[13rem]">
			<div class="flex flex-col items-center gap-y-12">
				<span
					class="flex items-center justify-center w-[50px] h-[50px] md:w-[60px] md:h-[60px] rounded-full font-medium text-customBlack bg-white text-[2rem] md:text-[3rem]"
					>3</span
				>
				<hr
					class="rotate-[90deg] w-24 border-[1px] border-white outline-none"
				/>
			</div>
			<p
				class="text-[2rem] md:text-[2rem] lg:text-[2.5rem] font-medium text-white"
			>
				To assist the organizations reach it's goals.
			</p>
		</div>
		<div class="flex gap-x-[1.5rem] md:gap-x-[10rem] lg:gap-x-[13rem]">
			<div class="flex flex-col items-center gap-y-12">
				<span
					class="flex items-center justify-center w-[50px] h-[50px] md:w-[60px] md:h-[60px] rounded-full font-medium text-customBlack bg-white text-[2rem] md:text-[3rem]"
					>4</span
				>
			</div>
			<p
				class="text-[2rem] md:text-[2rem] lg:text-[2.5rem] font-medium text-white"
			>
				To serve as agents of Institutions with programmes for MSMEs.
			</p>
		</div>
	</div>
</section>
<section
	class="py-16 bg-[#F9F6F6] px-8 md:px-16 lg:pr-0 lg:pl-[15rem] xl:pl-[25rem]"
>
	<p class="text-customBlack font-bold text-[2.5rem] md:text-[3rem]">
		The 7 Arazara Behaviours
	</p>
	<div class="mt-20 flex flex-col gap-y-12">
		<div class="flex gap-x-[1.5rem] md:gap-x-[10rem] lg:gap-x-[13rem]">
			<div class="flex flex-col gap-y-12 items-center">
				<span
					class="flex items-center justify-center w-[50px] h-[50px] md:w-[60px] md:h-[60px] rounded-full font-medium text-customBlack bg-white text-[2rem] md:text-[3rem]"
					>1</span
				>
				<hr
					class="rotate-[90deg] w-24 border-[1px] border-customBlack outline-none"
				/>
			</div>
			<p
				class="text-[2rem] md:text-[2rem] lg:text-[2.5rem] font-medium text-customBlack"
			>
				Speed of decision making
			</p>
		</div>
		<div class="flex gap-x-[1.5rem] md:gap-x-[10rem] lg:gap-x-[13rem]">
			<div class="flex flex-col gap-y-12 items-center">
				<span
					class="flex items-center justify-center w-[50px] h-[50px] md:w-[60px] md:h-[60px] rounded-full font-medium text-customBlack bg-white text-[2rem] md:text-[3rem]"
					>2</span
				>
				<hr
					class="rotate-[90deg] w-24 border-[1px] border-customBlack outline-none"
				/>
			</div>
			<p
				class="text-[2rem] md:text-[2rem] lg:text-[2.5rem] font-medium text-customBlack"
			>
				Promoting collaboration
			</p>
		</div>
		<div class="flex gap-x-[1.5rem] md:gap-x-[10rem] lg:gap-x-[13rem]">
			<div class="flex flex-col gap-y-12 items-center">
				<span
					class="flex items-center justify-center w-[50px] h-[50px] md:w-[60px] md:h-[60px] rounded-full font-medium text-customBlack bg-white text-[2rem] md:text-[3rem]"
					>3</span
				>
				<hr
					class="rotate-[90deg] w-24 border-[1px] border-customBlack outline-none"
				/>
			</div>
			<p
				class="text-[2rem] md:text-[2rem] lg:text-[2.5rem] font-medium text-customBlack"
			>
				Continuous improvement
			</p>
		</div>
		<div class="flex gap-x-[1.5rem] md:gap-x-[10rem] lg:gap-x-[13rem]">
			<div class="flex flex-col gap-y-12 items-center">
				<span
					class="flex items-center justify-center w-[50px] h-[50px] md:w-[60px] md:h-[60px] rounded-full font-medium text-customBlack bg-white text-[2rem] md:text-[3rem]"
					>4</span
				>
				<hr
					class="rotate-[90deg] w-24 border-[1px] border-customBlack outline-none"
				/>
			</div>
			<p
				class="text-[2rem] md:text-[2rem] lg:text-[2.5rem] font-medium text-customBlack"
			>
				Empowering to deliver
			</p>
		</div>
		<div class="flex gap-x-[1.5rem] md:gap-x-[10rem] lg:gap-x-[13rem]">
			<div class="flex flex-col gap-y-12 items-center">
				<span
					class="flex items-center justify-center w-[50px] h-[50px] md:w-[60px] md:h-[60px] rounded-full font-medium text-customBlack bg-white text-[2rem] md:text-[3rem]"
					>5</span
				>
				<hr
					class="rotate-[90deg] w-24 border-[1px] border-customBlack outline-none"
				/>
			</div>
			<p
				class="text-[2rem] md:text-[2rem] lg:text-[2.5rem] font-medium text-customBlack"
			>
				Sense of urgency
			</p>
		</div>
		<div class="flex gap-x-[1.5rem] md:gap-x-[10rem] lg:gap-x-[13rem]">
			<div class="flex flex-col gap-y-12 items-center">
				<span
					class="flex items-center justify-center w-[50px] h-[50px] md:w-[60px] md:h-[60px] rounded-full font-medium text-customBlack bg-white text-[2rem] md:text-[3rem]"
					>6</span
				>
				<hr
					class="rotate-[90deg] w-24 border-[1px] border-customBlack outline-none"
				/>
			</div>
			<p
				class="text-[2rem] md:text-[2rem] lg:text-[2.5rem] font-medium text-customBlack"
			>
				Selflessness
			</p>
		</div>
		<div class="flex gap-x-[1.5rem] md:gap-x-[10rem] lg:gap-x-[13rem]">
			<div class="flex flex-col gap-y-12 items-center">
				<span
					class="flex items-center justify-center w-[50px] h-[50px] md:w-[60px] md:h-[60px] rounded-full font-medium text-customBlack bg-white text-[2rem] md:text-[3rem]"
					>7</span
				>
			</div>
			<p
				class="text-[2rem] md:text-[2rem] lg:text-[2.5rem] font-medium text-customBlack"
			>
				Being fact based
			</p>
		</div>
	</div>
</section>
<section
	class="py-16 bg-main px-8 md:px-16 lg:pr-0 lg:pl-[15rem] xl:pl-[25rem]"
>
	<p class="text-customBlack font-bold text-[2.5rem] md:text-[3rem]">
		Our Operations
	</p>
	<div class="mt-20 flex flex-col gap-y-12">
		<div class="flex gap-x-[1.5rem] md:gap-x-[10rem] lg:gap-x-[13rem]">
			<div class="flex items-center flex-col gap-y-12">
				<span
					class="flex items-center justify-center w-[50px] h-[50px] md:w-[60px] md:h-[60px] rounded-full font-medium text-white bg-customBlack text-[2rem] md:text-[3rem]"
					>1</span
				>
				<hr
					class="rotate-[90deg] w-24 border-[1px] border-customBlack outline-none"
				/>
			</div>
			<p
				class="text-[2rem] md:text-[2rem] lg:text-[2.5rem] font-medium text-customBlack"
			>
				Sharpening
			</p>
		</div>
		<div class="flex gap-x-[1.5rem] md:gap-x-[10rem] lg:gap-x-[13rem]">
			<div class="flex items-center flex-col gap-y-12">
				<span
					class="flex items-center justify-center w-[50px] h-[50px] md:w-[60px] md:h-[60px] rounded-full font-medium text-white bg-customBlack text-[2rem] md:text-[3rem]"
					>2</span
				>
				<hr
					class="rotate-[90deg] w-24 border-[1px] border-customBlack outline-none"
				/>
			</div>
			<p
				class="text-[2rem] md:text-[2rem] lg:text-[2.5rem] font-medium text-customBlack"
			>
				Activating
			</p>
		</div>
		<div class="flex gap-x-[1.5rem] md:gap-x-[10rem] lg:gap-x-[13rem]">
			<div class="flex items-center flex-col gap-y-12">
				<span
					class="flex items-center justify-center w-[50px] h-[50px] md:w-[60px] md:h-[60px] rounded-full font-medium text-white bg-customBlack text-[2rem] md:text-[3rem]"
					>3</span
				>
				<hr
					class="rotate-[90deg] w-24 border-[1px] border-customBlack outline-none"
				/>
			</div>
			<p
				class="text-[2rem] md:text-[2rem] lg:text-[2.5rem] font-medium text-customBlack"
			>
				Advancing business thoughts
			</p>
		</div>
		<div class="flex gap-x-[1.5rem] md:gap-x-[10rem] lg:gap-x-[13rem]">
			<div class="flex items-center flex-col gap-y-12">
				<span
					class="flex items-center justify-center w-[50px] h-[50px] md:w-[60px] md:h-[60px] rounded-full font-medium text-white bg-customBlack text-[2rem] md:text-[3rem]"
					>4</span
				>
			</div>
			<p
				class="text-[2rem] md:text-[2rem] lg:text-[2.5rem] font-medium text-customBlack"
			>
				Project implementation
			</p>
		</div>
	</div>
</section>
<section
	class="py-16 bg-[#F4FFED] px-8 md:px-16 lg:pr-0 lg:pl-[15rem] xl:pl-[25rem] xl:pr-12"
>
	<p class="text-customBlack font-bold text-[2.5rem] md:text-[3rem]">
		Team Arazara in a anutshell
	</p>
	<div class="mt-20 flex flex-col gap-y-12">
		<div class="flex gap-x-[1.5rem] md:gap-x-[10rem] lg:gap-x-[13rem]">
			<div class="flex items-center flex-col gap-y-12">
				<span
					class="flex items-center justify-center w-[50px] h-[50px] md:w-[60px] md:h-[60px] rounded-full font-medium text-customBlack bg-main text-[2rem] md:text-[3rem]"
					>1</span
				>
				<hr
					class="rotate-[90deg] w-24 border-[1px] border-customBlack outline-none"
				/>
			</div>
			<p
				class="text-[2rem] md:text-[2rem] lg:text-[2.5rem] font-medium text-customBlack"
			>
				We develop the capacity of Community Enterprises.
			</p>
		</div>
		<div class="flex gap-x-[1.5rem] md:gap-x-[10rem] lg:gap-x-[13rem]">
			<div class="flex items-center flex-col gap-y-12">
				<span
					class="flex items-center justify-center w-[50px] h-[50px] md:w-[60px] md:h-[60px] rounded-full font-medium text-customBlack bg-main text-[2rem] md:text-[3rem]"
					>2</span
				>
				<hr
					class="rotate-[90deg] w-24 border-[1px] border-customBlack outline-none"
				/>
			</div>
			<p
				class="text-[2rem] md:text-[2rem] lg:text-[2.5rem] font-medium text-customBlack"
			>
				We provide solutions for them to Nurture and Grow their businesses.
			</p>
		</div>
		<div class="flex gap-x-[1.5rem] md:gap-x-[10rem] lg:gap-x-[13rem]">
			<div class="flex items-center flex-col gap-y-12">
				<span
					class="flex items-center justify-center w-[50px] h-[50px] md:w-[60px] md:h-[60px] rounded-full font-medium text-customBlack bg-main text-[2rem] md:text-[3rem]"
					>3</span
				>
			</div>
			<p
				class="text-[2rem] md:text-[2rem] lg:text-[2.5rem] font-medium text-customBlack"
			>
				We develop, support and monitor their Entrepreneurial journey.
			</p>
		</div>
	</div>
</section>
<section
	class="bg-customBlack flex flex-col items-center md:items-start md:flex-row md:px-[2rem] lg:px-[3rem] xl:px-[7rem] min-[1440px]:px-[13rem] 2xl:px-[15rem]"
>
	<div
		class="pt-12 w-[95%] md:w-[55%] lg:w-1/2 flex flex-col items-center md:items-start justify-center"
	>
		<h3
			class="text-[3rem] md:text-[4rem] lg:text-[5rem] xl:text-[6rem] text-center md:text-start font-bold text-white mb-2"
		>
			Have a project ? Let's discuss
		</h3>
		<p class="text-center md:text-start text-[1.7rem] text-white lg:pr-48 mb-7">
			We pride ourselves on quick responses. Contact us now and expect a reply
			in no time!
		</p>
		<a
			href=""
			class="text-[1.5rem] w-max font-medium text-customBlack flex items-center justify-center px-8 py-5 bg-main border-[1.5px] border-main cursor-pointer transition-all duration-200 hover:text-white hover:bg-transparent hover:border-main"
			>LET'S TALK</a
		>
	</div>
	<div class="w-[90%] md:w-[45%] lg:w-1/2">
		<img src="{% static 'images/projects.png' %}" alt="" />
	</div>
</section>
{% endblock mainContent %}
